---
import Layout from '../../layouts/Layout.astro';

export const prerender = true;
---

<Layout title='Register for quiz' description='Enter your username'>
	<div class='hero h-screen'>
	  <div class='w-full h-full bg-[url("/assets/background.webp")] bg-cover bg-fixed -z-1'></div>
	  <div class='hero-content w-screen bg-primary flex-col py-8 lg:px-40'>
	    <h1 class='font-medium text-xl text-center tracking-wider'>Quiz</h1>
	    <form class='space-y-4 w-full flex flex-col items-center' id='set-name'>
        <label class='form-control w-full max-w-xs'>
          <input id='content-input' class='input input-bordered border-primary w-full' placeholder='Enter your username...'>
        </label>

        <button class='btn btn-primary btn-active w-full max-w-xs' type='submit'>Submit</button>
      </form>

      <script>
        const content = document.getElementById('content-input') as HTMLInputElement;

        document.getElementById('set-name')!.addEventListener('submit', (event) => {
          event.preventDefault();
          localStorage.setItem('user', content.value);
        });
      </script>
    </div>
  </div>
</Layout>
