---
import Page from '../../../../../layouts/Page.astro';
import { getPost } from '../../../../../components/blog/getPosts';

const content = (await getPost(Astro.params.id!))?.content;
---

<Page title='Change content' description='Change content' fixPosition>
  <form class='py-24 space-y-4 w-full min-h-screen flex flex-col items-center bg-primary'>
    <label class='form-control w-full max-w-xl'>
      <textarea id='content-input' class='textarea textarea-bordered h-96 w-92' placeholder='Post content' data-target={Astro.params.id!}>{content}</textarea>
    </label>

    <button class='btn btn-primary btn-active w-full max-w-xl' type='submit'>Submit</button>
  </form>

  <script>
   import { adminFetch } from '../../../../../utils/fetch';

    const contentEl = document.getElementById('content-input')! as HTMLTextAreaElement;
    const id = contentEl.dataset.target;

    document.querySelector('form')!.addEventListener('submit', async function(event) {
      event.preventDefault();

      const res = await adminFetch(`/post/update/content/${id}`, {
        method: 'PUT',
        body: contentEl.value,
      });

      if (res?.ok) {
        alert('Post content updated successfully!');
        location.href = `/admin/blog/${id}`;
      } else 
        alert('Content update failed!');
   });  
   </script>
  <style>
    input, textarea {
      @apply text-primary
    }
  </style>
</Page>

