---
import Layout from '../layouts/Layout.astro';
import Posts from '../components/blog/Posts';
---

<Layout title='Blog' description='Blog'>
  <div class='w-screen flex flex-col items-center pt-28'>
    <h1 class='text-primary font-lora text-4xl font-medium'>All Posts</h1>
    <Posts client:load />
  </div>
</Layout>
