---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Home' description='Homepage'>
	<div class='hero h-screen font-lora'>
	  <div class='w-full h-full bg-[url("/assets/background.webp")] bg-cover bg-fixed -z-1'></div>
	  <div class='hero-content w-screen bg-primary flex-col py-8 lg:px-40'>
	    <h1 class='font-medium text-7xl text-center tracking-wider'>Daily Econs</h1>
	    <p class='text-neutral-content'>Exploring the World of Economics</p>
	  </div>
  </div>
</Layout>
