---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';

export const prerender = true;
---

<Layout title='Home' description='Homepage'>
	<Hero />
	<div class='my-24 p-12 w-full flex flex-col items-center' id='about'>
    <div class='max-w-lg flex flex-col mb-60'>
      <h1>Welcome to Daily Econs</h1>
      <p>
        Daily Econs is your go-to source for insightful analysis, news, and commentary on various economic topics. 
        Our passion for economics drives us to provide you with valuable information and unique perspectives.
        Stay updated with the latest releases and upcoming economic trends. We value your feedback, so feel free 
        to connect with us in our forum and share your thoughts. If you seek professional economic insights, our team of experts is here to help. 
        Keep up with the latest economic trends and tips in our blog!
      </p>
    </div>
  </div>
</Layout>

<style>
  h1 {
    @apply text-primary font-lora text-3xl font-semibold
  }

  * {
    @apply text-primary tracking-wider
  }

  p {
    @apply font-lora mt-12 text-lg font-extralight
  }
</style>
