<div class='navbar bg-primary font-questrial text-sm px-4 md:px-12 py-3 z-[999] justify-between md:justify-center'>
  <div class='flex-1 hidden md:flex'>
    <a class='btn' href='/'>HOME</a>
    <div class='divider divider-horizontal'></div>
    <a class='btn' href='/blog'>BLOG</a>
    <div class='divider divider-horizontal'></div>
    <a class='btn' href='/quiz/themes'>QUIZ</a>
  </div>

  <details class='dropdown'>
    <summary tabindex='0' role='button' class='btn btn-ghost md:hidden'>
      <svg xmlns='http://www.w3.org/2000/svg' class='h-6 w-6' fill='none' viewBox='0 0 24 24' stroke='currentColor'>
        <path stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h8m-8 6h16' />
      </svg>
    </summary>

    <ul tabindex='0' class='menu dropdown-content mt-3 p-2 shadow rounded-box bg-primary'>
      <li><a class='btn' href='/'>HOME</a></li>
      <li><a class='btn' href='/blog'>BLOG</a></li>
      <li><a class='btn' href='/quiz/themes'>QUIZ</a></li>
    </ul>
  </details>

  <div class='flex-none gap-2'>
    <form class='form-control'>
      <label class='input input-sm input-bordered flex items-center gap-2 bg-primary'>
        <input type='text' class='grow' name='query' placeholder='Search' />
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor' class='w-4 h-4 opacity-70'><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
      </label>
    </form>
  </div>
</div>

<style>
  a.btn {
    @apply btn-sm btn-ghost
  }

  a, input {
    @apply font-questrial text-sm
  }

  div.divider {
    @apply m-0 p-0
  }
</style>
