<div class='navbar fixed bg-primary font-questrial text-sm px-12 py-3 z-[999]'>
  <div class='flex-1'>
    <a class='btn'>HOME</a> 
    <div class='divider divider-horizontal'></div>
    <a class='btn'>BLOG</a> 
    <div class='divider divider-horizontal'></div>
    <a class='btn'>ABOUT</a> 
    <div class='divider divider-horizontal'></div>
    <a class='btn'>NEWS</a> 
  </div>

  <div class='flex-none gap-2'>
    <form class='form-control'>
      <label class='input input-sm input-bordered flex items-center gap-2 bg-primary'>
        <input type='text' class='grow' name='query' placeholder='Search' />
        <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='currentColor' class='w-4 h-4 opacity-70'><path fill-rule="evenodd" d="M9.965 11.026a5 5 0 1 1 1.06-1.06l2.755 2.754a.75.75 0 1 1-1.06 1.06l-2.755-2.754ZM10.5 7a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Z" clip-rule="evenodd" /></svg>
      </label>    
    </form>
  </div>
</div>

<style>
  a.btn {
    @apply btn-sm btn-ghost
  }

  a, input {
    @apply font-questrial text-sm
  }

  div.divider {
    @apply m-0 p-0
  }
</style>
