---
import Page from './Page.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
	description: string;

	fixPosition?: boolean;
}

const { title, description, fixPosition } = Astro.props;
---

<!DOCTYPE html>
<Page title={title} description={description}>
	<Navbar />
	{fixPosition === true 
		? <div class='absolute top-[72px] w-full'><slot /><Footer /></div> 
		: <><slot /><Footer /></>
	}
</Page>

